@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.employee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: darken($color-4, 7);
}
