@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/base";

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 10px;
  margin-top: 2rem;

  &-logo-image {
    height: 30px;
  }
}
